@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'MedievalSharp', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu {
    width: 90vw;
    height: 80vh;
    background: #2b2b2b;
    border: 8px double #8b4513; 
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0,0,0,1);
}

.menu-left {
    flex: 1.5;
    background-image: url('../Main/assets/images/menu_art.jpg'); 
    background-size: cover;
    background-position: center;
    border-right: 4px solid #8b4513;
    background-color: #111; 
}

.menu-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
}

.game-title {
    color: #d4af37;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
    text-shadow: 4px 4px 0px #000;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-btn {
    font-family: 'MedievalSharp', cursive;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn:hover {
    color: #d4af37;
    transform: translateX(10px); 
    text-shadow: 0 0 15px #d4af37;
}

.menu-footer {
    margin-top: auto;
    color: #555;
    font-size: 0.9rem;
}